{% load static %}

<!DOCTYPE html>

<html lang="br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="icon" href="{% static 'assets/img/ico_wite.ico' %}">
        <title>Catalogador ROX</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/search.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>


    <body>

    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{% static 'assets/img/ico_wite.ico' %}" width="65" height="45" alt="" style="margin-left:15px">
                </span>

                <div class="text logo-text">
                    <span class="name" >ROX</span>
                    <span class="profession">Catalogador</span>
                </div>
            </div>
            <header>
              <br>
              <i class='bx bx-chevron-right toggle'></i>
          </header>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <form action="{% url 'busca' %}" method="post">
                    {% csrf_token %}

                    <div class="input-group mb-3" style="width:80%; margin-left:5%">
                      <select class="form-select" id="par" name="par">
                        <option selected disabled>Par</option>
                        <option value='0'>Todos</option>
                        {% for par in pares %}
                        <option value={{par.name}}>{{par.name}}</option>
                        {% endfor %}

                      </select>
                    </div>
                    <div class="input-group mb-3" style="width:80%; margin-left:5%">
                        <select class="form-select" id="time" name="time">
                          <option selected disabled>Time</option>
                          <option value='0'>Todos</option>
                          <option value=1>1 Min</option>
                          <option value=5>5 Min</option>
                          <option value=15>15 Min</option>
                        </select>
                      </div>

                      <div class="input-group mb-3" style="width:80%; margin-left:5%">
                          <input class="form-select" placeholder='Hora'  type="number" id="hora" name="hora" min="0" max="23">
                      </div>

                      <div class="input-group mb-3" style="width:80%; margin-left:5%">
                        <input class="form-select" placeholder='Minuto' type="number" id="minuto" name="minuto" min="0" max="59">
                      </div>    

                      <div class="input-group mb-3" style="width:80%; margin-left:5%">
                        <input class="form-select" placeholder='Taxa Principal' type="number" id="main_taxa" name="main_taxa" min="50" max="100">
                      </div>    

                      <div class="input-group mb-3" style="width:80%; margin-left:5%">
                        <input class="form-select" placeholder='Taxa Posterior' type="number" id="second_taxa" name="second_taxa" min="50" max="100">
                      </div>    


                    <br>

                      <div style="margin-left:5%">
                        <input class="btn btn-light" type="submit" value='Buscar'>
                      </div>

                  </form>
            </div>

            <div class="bottom-content">
                <li class="">
                        {% if request.user.username == "" %}
                        <a href="/admin">
                            <i class='bx bx-log-out icon' ></i>
                            <span class="text nav-text" >Login</span>
                        
                        {% else %}
                        <a href="/admin/logout/">
                            <i class='bx bx-log-out icon' ></i>
                            <span class="text nav-text" > {{ request.user.username }} Logout</span>
                        {% endif %}
                        </a>
                </li>
                <li class="">
                    <a href="https://www.linkedin.com/in/edno-almeida/"  target="_blank" 
                    style="text-decoration:none; color: rgb(204, 193, 193);">Feito por EATec</a>
                </li>
            </div>

        </div>

    </nav>
            <!-- conteudo -->

            {% block main %}
            {% endblock %}

    <script>
    const body = document.querySelector('body'),
      sidebar = body.querySelector('nav'),
      toggle = body.querySelector(".toggle"),
      searchBtn = body.querySelector(".search-box"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");


toggle.addEventListener("click" , () =>{
    sidebar.classList.toggle("close");
})

searchBtn.addEventListener("click" , () =>{
    sidebar.classList.remove("close");
})
    </script>

</body>
</html>
